# Local/private config goes in the include
[include]
    path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
[alias]
    c = commit
    co = checkout
    cob = checkout -b
    commit-all = !git add . && git commit -m
    count   = !git shortlog -sn
    refresh = !git fetch --all && git pull --all --prune
    rhh = !git reset HEAD --hard
    s = status
    wip = !git add . && git commit -m "wip" --no-verify && git push
    squash = !git merge --no-commit --squash
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[pull]
    rebase = true
[push]
    # See `git help config` (search for push.default)
    # for more information on different options of the below setting.
    #
    # Setting to git 2.0 default to suppress warning message
    default = simple
[rebase]
    autoStash = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	defaultBranch = main
