# Local/private config goes in the include
[include]
    path = ~/.gitconfig.local
[core]
    editor = code
    excludesfile = ~/.gitignore_global
[alias]
    c = commit
    ca = !git add . && git commit
    co = checkout
    cob = checkout -b
    count   = !git shortlog -sn
    force-amend = !git commit --amend && git push --force
    fix-pnpm = !git add . && git commit -m 'fix(package) fix pnpm-lock'
    mc = merge --continue
    p = push
    pl = pull
    refresh = !git fetch --all && git pull --all --prune
    rhh = !git reset HEAD --hard
    s = status
    wip = !git add . && git commit -m "wip" --no-verify && git push
    squash = !git merge --no-commit --squash
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[pull]
    rebase = true
[push]
    # See `git help config` (search for push.default)
    # for more information on different options of the below setting.
    #
    # Setting to git 2.0 default to suppress warning message
    default = simple
	autoSetupRemote = true
[rebase]
    autoStash = true
[init]
  	defaultBranch = main
