[include]
    path = ~/.dotfiles/home/.gitconfig.base
    path = ~/.dotfiles/home/.gitconfig.local

[user]
	name = Charles Ponti
	email = 1757624+charlesponti@users.noreply.github.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
